html {
  height: 480px;
}

body {
  width: 390px;
  height: 480px;
  margin: 10px 10px 20px 10px;
}

.mdl-data-table th {
  height: auto;
  padding: 8px 0;
  text-align: center;
}

.mdl-data-table tbody tr {
  height: auto;
}

.mdl-data-table td {
  height: auto;
  padding: 8px;
  text-align: center;
}

.mdl-data-table tbody tr:hover {
  background: white;
}

a {
  outline: none;
}

.right {
  text-align: right;
}
