body {
	width: 340px;
}

h1 {
	margin: 15px 0;
	font-size: 30px;
}

table {
	width: 100%;
	border-spacing: 1px;
}

table thead tr {
	height: 24px;
	background-color: #2C3E50;
}

table thead tr th {
	color: white;
	font-weight: normal;
}

table tbody tr:nth-child(odd) {
	background-color: #ECF0F1;
}

table tbody tr:nth-child(even) {
	background-color: white;
}

table tbody tr td {
	padding: 5px;
	text-align: center;
	word-break: break-all;
}

table tbody tr td.label {
	width: 20%;
}

table tbody tr td.sub-label {
	width: 22%;
}

table tbody tr td.name[colspan="2"] {
	width: 60%;
}

a {
	outline: none;
}

.right {
	text-align: right;
}